<%= form_for([post, post.comments.build]) do |form| %>


<!DOCTYPE html>

  <%- if user_signed_in? %>


  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field(:name, :value => current_user.name) %>
  </div>
  <div class="field">
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
<% end %>
