<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<h2>Comments</h2>
<%@post.comments.each do |comment| %>
  <p>
    <b>Commenter:</b>
    <%= comment.name %>
  </p>

  <p>
    <b>Comment</b>
    <%= comment.content %>
  </p>
<% end %>

<strong>Leave a comment:</strong>

<form>

<%=render partial: "comment_form", locals: {comment: @comment}%>
</form>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
